YesiLdefter/Service References/AgentClient/Agent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd3" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="UBLExtensions" type="tns:UBLExtensionsType" />
  <xs:complexType name="UBLExtensionsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UBLExtension" type="tns:UBLExtensionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UBLExtensionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ExtensionContent" type="tns:ExtensionContentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtensionContentType">
    <xs:sequence>
      <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="1" ref="q1:Signature" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>