YesiLdefter/Service References/AgentClient/Agent.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Agent" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd1" namespace="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd2" namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd3" namespace="http://www.w3.org/2000/09/xmldsig#" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd4" namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd5" namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd6" namespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd7" namespace="urn:un:unece:uncefact:codelist:specification:54217:2001" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd8" namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd9" namespace="urn:un:unece:uncefact:codelist:specification:66411:2001" />
      <xsd:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd10" namespace="urn:un:unece:uncefact:codelist:specification:IANAMIMEMediaType:2003" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgent_GetInboxInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInboxInvoices" />
  </wsdl:message>
  <wsdl:message name="IAgent_GetInboxInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInboxInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IAgent_GetOutboxInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboxInvoices" />
  </wsdl:message>
  <wsdl:message name="IAgent_GetOutboxInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboxInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IAgent_SetInboxInvoicesTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:SetInboxInvoicesTaken" />
  </wsdl:message>
  <wsdl:message name="IAgent_SetInboxInvoicesTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInboxInvoicesTakenResponse" />
  </wsdl:message>
  <wsdl:message name="IAgent_SetOutboxInvoicesTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOutboxInvoicesTaken" />
  </wsdl:message>
  <wsdl:message name="IAgent_SetOutboxInvoicesTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOutboxInvoicesTakenResponse" />
  </wsdl:message>
  <wsdl:message name="IAgent_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IAgent_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IAgent">
    <wsdl:operation name="GetInboxInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgent/GetInboxInvoices" message="tns:IAgent_GetInboxInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgent/GetInboxInvoicesResponse" message="tns:IAgent_GetInboxInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutboxInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgent/GetOutboxInvoices" message="tns:IAgent_GetOutboxInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgent/GetOutboxInvoicesResponse" message="tns:IAgent_GetOutboxInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetInboxInvoicesTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgent/SetInboxInvoicesTaken" message="tns:IAgent_SetInboxInvoicesTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgent/SetInboxInvoicesTakenResponse" message="tns:IAgent_SetInboxInvoicesTaken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOutboxInvoicesTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgent/SetOutboxInvoicesTaken" message="tns:IAgent_SetOutboxInvoicesTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgent/SetOutboxInvoicesTakenResponse" message="tns:IAgent_SetOutboxInvoicesTaken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgent/GetCustomers" message="tns:IAgent_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgent/GetCustomersResponse" message="tns:IAgent_GetCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAgent" type="tns:IAgent">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInboxInvoices">
      <soap:operation soapAction="http://tempuri.org/IAgent/GetInboxInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutboxInvoices">
      <soap:operation soapAction="http://tempuri.org/IAgent/GetOutboxInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInboxInvoicesTaken">
      <soap:operation soapAction="http://tempuri.org/IAgent/SetInboxInvoicesTaken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOutboxInvoicesTaken">
      <soap:operation soapAction="http://tempuri.org/IAgent/SetOutboxInvoicesTaken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IAgent/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Agent">
    <wsdl:port name="BasicHttpBinding_IAgent" binding="tns:BasicHttpBinding_IAgent">
      <soap:address location="http://web1/Services/Agent" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>