YesiLdefter/Service References/AgentClient/Agent3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" elementFormDefault="qualified" targetNamespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd9" namespace="urn:un:unece:uncefact:codelist:specification:66411:2001" />
  <xs:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd10" namespace="urn:un:unece:uncefact:codelist:specification:IANAMIMEMediaType:2003" />
  <xs:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd7" namespace="urn:un:unece:uncefact:codelist:specification:54217:2001" />
  <xs:complexType name="IdentifierType">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="schemeID" type="xs:normalizedString" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="listID" type="xs:normalizedString" />
        <xs:attribute name="listAgencyName" type="xs:string" />
        <xs:attribute name="listName" type="xs:string" />
        <xs:attribute name="listVersionID" type="xs:normalizedString" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:language" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute xmlns:q1="urn:un:unece:uncefact:codelist:specification:66411:2001" name="unitCode" type="q1:UnitCodeContentType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryObjectType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="format" type="xs:string" />
        <xs:attribute xmlns:q2="urn:un:unece:uncefact:codelist:specification:IANAMIMEMediaType:2003" name="mimeCode" type="q2:BinaryObjectMimeCodeContentType" use="required" />
        <xs:attribute name="encodingCode" type="xs:normalizedString" />
        <xs:attribute name="characterSetCode" type="xs:normalizedString" />
        <xs:attribute name="uri" type="xs:anyURI" />
        <xs:attribute name="filename" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:language" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute xmlns:q3="urn:un:unece:uncefact:codelist:specification:54217:2001" name="currencyID" type="q3:CurrencyCodeContentType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute xmlns:q4="urn:un:unece:uncefact:codelist:specification:66411:2001" name="unitCode" type="q4:UnitCodeContentType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>