YesiLdefter/Service References/AgentClient/Agent8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd5" namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" />
  <xs:import schemaLocation="https://efatura.uyumsoft.com.tr/Services/Agent?xsd=xsd7" namespace="urn:un:unece:uncefact:codelist:specification:54217:2001" />
  <xs:complexType name="ChannelCodeType">
    <xs:simpleContent>
      <xs:extension xmlns:q1="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" base="q1:CodeType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PaymentMeansCodeType">
    <xs:simpleContent>
      <xs:extension xmlns:q2="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" base="q2:CodeType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CountryIdentificationCodeType">
    <xs:simpleContent>
      <xs:extension xmlns:q3="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" base="q3:CodeType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CurrencyCodeType">
    <xs:simpleContent>
      <xs:extension xmlns:q4="urn:un:unece:uncefact:codelist:specification:54217:2001" base="q4:CurrencyCodeContentType">
        <xs:attribute default="ISO 4217 Alpha" name="listID" type="xs:normalizedString" />
        <xs:attribute default="United Nations Economic Commission for Europe" name="listAgencyName" type="xs:string" />
        <xs:attribute default="Currency" name="listName" type="xs:string" />
        <xs:attribute default="2001" name="listVersionID" type="xs:normalizedString" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>